<section>
  <h1 class="text-titulo">SERVIÇOS</h1>
  <br />
  <br />
  <div class="container d-flex flex-center m-auto pt-8">
    <div class="row">
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Alinhamento"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Alinhamento 3D<span class="imgservicos">
                  <img
                    src="../../../assets/image/balanceamento.png"
                    alt=""
                  /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Suspensao"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Suspensão<span class="imgservicos">
                  <img
                    src="../../../assets/image/suspensao.png"
                    alt=""
                  /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Oleo"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Troca de Óleo
                <span class="imgservicos">
                  <img src="../../../assets/image/oleo.png" alt="" /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Freios"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Freios<span class="imgservicos">
                  <img src="../../../assets/image/freio.png" alt="" /> </span
              ></a>
            </div>
          </div>
        </button>
        <br />
        <br />
      </div>

      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Revisao"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Revisão Geral<span class="imgservicos">
                  <img src="../../../assets/image/revisao.png" alt="" /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Performance"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Performance<span class="imgservicos">
                  <img src="../../../assets/image/turbo.png" alt="" /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Motor"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext"
                >Motor<span class="imgservicos">
                  <img src="../../../assets/image/motor.png" alt="" /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-3 box container">
        <button
          type="button"
          class="btn-servicos"
          data-toggle="modal"
          data-target="#Diagnosticos"
        >
          <div class="card-img-top">
            <div>
              <a class="btn_serv servtext textvent"
                >Diagnósticos<span class="imgservicos">
                  <img src="../../../assets/image/monitor.png" alt="" /> </span
              ></a>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<h3 class="textservicos">
  ENTRE EM CONTATO AGORA COM A NOSSA EQUIPE TÉCNICA E AGENDE SUA ESTÉTICA
  AUTOMOTIVA.
</h3>
<button class="btn btn-success btn_contato">
  <a class="text_contato" href="contato">Contato</a>
</button>

<!-- Modal Alinhamento -->
<div
  class="modal fade"
  id="Alinhamento"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleAlinhamento"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleAlinhamento">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é o alinhamento do carro?</strong><br />
        O alinhamento de um carro é um componente fundamental para o seu pleno
        funcionamento. Quando um veículo começa a puxar mais para a esquerda ou
        para a direita, é sinal de que suas rodas estão desalinhadas, o que gera
        desgaste irregular dos pneus. Há uma forma mais eficiente de fazer esse
        alinhamento: O Alinhamento 3D.<br> Afinal, é uma maneira mais precisa e
        rápida de fazer o alinhamento de um carro. Ela consiste, basicamente, em
        usar sensores e plataformas para medir o quanto as rodas estão
        endireitadas. Para isso, há um sistema eletrônico em que as
        especificações do fabricante de cada carro são inseridas, e então o
        mecânico pode medir com precisão onde estão os descompassos. Depois de
        feito o alinhamento 3D, é como se o carro saísse novamente da fábrica:
        isso porque ele está alinhado exatamente como pede o manual do
        fabricante.<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Alinhamento mais rápido;</li>
          <li>Alinhamento mais preciso;</li>
          <li>Mais economia no combustível;</li>
          <li>Mais estabilidade na condução;</li>
          <li>Menos desgaste na suspensão;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Suspensao -->
<div
  class="modal fade"
  id="Suspensao"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleSuspensao"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleSuspensao">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Oleo -->
<div
  class="modal fade"
  id="Oleo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleOleo"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleOleo">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Freios -->
<div
  class="modal fade"
  id="Freios"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleFreios"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleFreios">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Revisao -->
<div
  class="modal fade"
  id="Revisao"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleRevisao"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleRevisao">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Performance -->
<div
  class="modal fade"
  id="Performance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titlePerformance"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titlePerformance">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Motor -->
<div
  class="modal fade"
  id="Motor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleMotor"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleMotor">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Diagnosticos -->
<div
  class="modal fade"
  id="Diagnosticos"
  tabindex="-1"
  role="dialog"
  aria-labelledby="titleDiagnosticos"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="titleDiagnosticos">Alinhamento 3D</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          alt="Fechar Modal"
          style="width: 40px"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>O que é </strong><br />
        Texto<br />
        <br />
        <ul>
          <a><strong>Benefícios:</strong></a
          ><br />
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <li>Teste;</li>
          <br />
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-modal"
          data-dismiss="modal"
          alt="Fechar Modal"
          style="width: 80px"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
