<section>
  <h2 class="text-map">
    Estamos localizados na Av. Padre Vicente Melilo,
    419 - Osasco/São Paulo
  </h2>
  <iframe class="mapa"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.3709028187058!2d-46.77576898226559!3d-23.551068434318875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ceff653cace463%3A0x186b2c400e23a891!2sCentro%20Automotivo%20Taniguti%20Scuderia!5e0!3m2!1spt-BR!2sbr!4v1677388901311!5m2!1spt-BR!2sbr"
    width="1200"
    height="650"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
