<h1 class="text-titulo">EMPRESA</h1>

<form class="textform">
  <div>
    <p>
      Com mais de 46 anos de experiência no segmento de mecânica e performance
      automotiva, oferecemos com excelência aos nossos clientes, e entusiastas
      da velocidade o que a de melhor para veículos premium, importados e
      nacionais, garantindo total satisfação no resultado final. Devidamente
      estruturada, a TANIGUTI conta com a mais alta tecnologia em equipamentos
      para diagnósticos em veículos importados e nacionais.
    </p>
    <p>
      Scanners Originais oferecem eficiência, produtividade com alta performance
      e segurança que você merece. Em nossa oficina, contamos com dinamômetros
      de potência, garantindo uma medição dos resultados em tempo real,
      validando assim o resultado em cada performance.
    </p>
    <p>
      O Combustível corre em nossas veias. Das pistas para o dia a dia, nós da
      TANIGUTI estamos aptos a entregar o que você está procurando,
      profissionais treinados e habilitados estão prontos para oferecer o que a
      de melhor.
    </p>
    <p>
      A TANIGUTI, é mais que uma oficina mecânica, é o lugar onde a paixão por
      carro é levada a sério! Contamos com profissionais treinados e habilitados
      para o atender com prontidão e entregar com excelência tudo o que você
      quiser para o seu carro.
    </p>
    <p>
      AQUI NÓS TEMOS! Estrutura moderna e profissionais altamente capacitados e
      Garantia de Qualidade.
    </p>
  </div>
</form>
