<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <h1>
      TANIGUTI<a class="navbar-brand" routerLink=""
        ><span
          ><img
            class="imgtop"
            src="../../../assets/image/logo2.jpg"
            alt="" /></span
      ></a>
    </h1>
    <div>
      <p class="segmarca">SCUDERIA</p>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="empresa"
            routerLinkActive="active-link"
            >Empresa</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="servicos"
            routerLinkActive="active-link"
            >Serviços</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="localizacao"
            routerLinkActive="active-link"
            >Localização</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contato"
            routerLinkActive="active-link"
            >Contato</a
          >
        </li>
      </ul>
    </div>

    <span class="bandeira">
      <img src="../../../assets/image/bandeiramenu.png" alt="" />
    </span>
  </div>
</nav>
